
* {
    padding: 0p;
    margin: 0;
    box-sizing: border-box;
}

.carousel-container {
    border: 3px solid black;
    width: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}

#prev-btn {
    position: absolute;
    z-index: 10;
    top: 50%;
    left:2px;
    font-size: 30px;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#next-btn {
    position: absolute;
    z-index: 10;
    top: 50%;
    right:2px;
    font-size: 30px;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

